@font-face {
    font-family: SelfieBlack;
    src: url(fonts/Selfie_Black.otf);
}
@font-face {
    font-family: GothamBook;
    src: url(fonts/Gotham-Book.otf);
}

* {
    font-family: GothamBook;
    background-color: black;
    color: white;
}

main {
    max-width: 992px;
    margin: 0 auto;
}
h1 {
    font-family: SelfieBlack;
    font-size: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 25px #ff00de;
}

nav {
    background-color: #1d1d1b;
    width: 100%;
    height: 100px;
    display: flex;
    position: sticky;
    top: 0;
}

#logo {
    margin-left: 0;
    padding-left: 0;
    height: 100px;
    float: left;
    background-color: #1d1d1b;
}

#menu {
    background-color: #1d1d1b;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    /* margin-left: 500px; */
    margin-right: 0;
    padding-right: 0;
}

#menu div {
    background-color: #1d1d1b;
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

#menu div:hover {
    background-color: #ff0099;
}

#menu a {
    display: block;
}

a {
    text-decoration: none;
}

a div:hover {
    color: #099fff;
}

hr {
    color: black;
}
iframe {
    display: block;
    margin: 0 auto;
}
.cabecera {
    font-family: SelfieBlack;
    text-align: center;
}

.banner {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
h2 {
    font-family: SelfieBlack;
    text-align: center;
}

h3 {
    font-family: SelfieBlack;
}

.titulo {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
}

#slider {
    width: 100%;
    height: 500px;
}

.producto {
    /* float: left; */
    /* margin: 10px; */
    height: 300px;
    width: 228px;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* float: bottom; */
}
.producto img {
    /* height: 200px; */
    width: 100%;
}

/* .formulario{
    width: 80%;
    margin: 0 auto;
}
.formu{
    height: 500px;
    float: left;
} */

form {
    font-family: GothamBook;
    text-align: center;
}

.insImg {
    font-family: GhotamBook;
    font-size: medium;
}

.texto {
    border: 0;
    outline: 0;
    background: transparent;
    position: relative;
}
label {
    font-family: SelfieBlack;
    font-size: 30px;
}

.mano {
    float: right;
    width: 300px;
    height: 300px;
}

textarea {
    margin-top: 0;
    font-family: GothamBook;
    width: 100%;
    height: 200px;
}

.boton {
    width: 100px;
    font-family: SelfieBlack;
    font-size: 20px;
    margin-left: 300px;
    background-color: #ff0099;
    border-radius: 10px;
}

.abajo {
    margin-top: 15px;
}

.insta {
    width: 20px;
    height: 20px;
}

.lista {
    text-align: center;
}

.enviar {
    border-radius: 20px;
    font-family: GothamBook;
    font-size: medium;
}

.enviar:hover {
    background-color: green;
    color: black;
}

.añadir {
    border-radius: 20px;
}
.añadir:hover {
    background-color: blue;
    color: black;
}

.editar {
    border-radius: 20px;
}
.editar:hover {
    background-color: yellow;
    color: black;
}

.editar img {
    width: 20px;
    height: 20px;
    background-color: white;
}

.eliminar {
    border-radius: 20px;
}

.eliminar:hover {
    background-color: red;
    color: black;
}

.eliminar img {
    width: 20px;
    height: 20px;
    background-color: white;
}

button {
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

button:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
}

li {
    float: left;
    width: 14%;
}

li a {
    width: 100%;
    font-size: 15px;
}

footer {
    height: 50px;
    bottom: 0;
}

.botonAbierto{
    display: none;
}
@media screen and (max-width: 600px) {
    .navCerrado {
        text-decoration: none;
        color: #a9abae;
        height: auto;
    }
    .navCerrado li{
        display: none;
    }
    .botonCerrado{
        display: inline-block;
        line-height: 60px;
    }
}
@media screen and (min-width: 601px) {
    .navCerrado {
        text-decoration: none;
        color: #a9abae;
        height: auto;
    }
    .navCerrado li{
        display: inline-block;
    }
    .botonCerrado{
        display: none;
        line-height: 60px;
    }
    #myLinks ul li{
        display: inline-block;
    }
}
